name: Lint PR Titles

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  pr-title-lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            docs
            chore
            test
            refactor
            breaking
